//body itself
& {
  background-color: whitesmoke;
}

//general

section {
  padding: 3rem;
  height: fit-content;
  &:nth-child(even) {
    background: white;
  }
}

header > h1 {
  @include title_text();
  @include Phone {
    margin-top: 0;
  }
  margin-bottom: 1rem;
  margin-left: -0.2rem;
}

//main styles
main {
  margin-top: 80px;
  section#social-banner {
    height: fit-content;
    //min-height: 500px;

    @include ScrollY;
    #cards {
      margin-left: 1rem;
      max-width: 1920px;
      margin: auto;

      div {
        margin-top: 2rem;
        max-width: 1000px;
        min-width: 280px;

        max-height: 500px;

        article.social-card {
          @include ScrollY;
          text-align: center;
          padding-top: 30px;
          padding-bottom: 50px;
          background: #fff;
          height: 100%;
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.01), 0 10px 10px rgba(0, 0, 0, 0.005);
          &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.08);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            cursor: pointer;
          }
        }

        header {
          h3 {
            color: black;
          }
          h4 {
            font-size: 1rem;
            color: $textGray;
          }
        }

        p {
          width: 75%;
          max-width: 500px;
          margin: auto;
          margin-top: 1rem;
          color: $textGray;
          text-align: center justify;
          em {
            display: inline-block;
            font-size: 0.7rem;
            line-height: 1rem !important;
          }
          margin-bottom: 1rem;
        }

        i {
          color: $someBlue;
          &::before {
            font-size: 4rem;
            font-weight: 100;
          }
        }

        .cta {
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          bottom: 10px;

          & > p {
            background-color: #fff;

            color: $someBlue;
            border-bottom: 1px solid $someBlue;
            width: fit-content;

            &:hover {
              border-bottom: 0px;
            }
          }
        }
      }
    }
  }
}
