footer#social-banner {
  display: block;
  width: 100vw;
  height: 10vh;
  @include Phone {
    height: 12vh;
  }
  padding: 10px;
  margin: 0;
  background-color: $darker;

  #icondiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .row {
      margin: auto;
      width: 80%;
      height: 100%;
      padding: 10px;
      display: flex;
      align-items: center;

      div {
        text-align: center;

        & i {
          font-size: 3rem;
          border-radius: 50%;
          @include Phone {
            font-size: 1.5rem;
          }
          color: black !important;
          text-shadow: 0 0 100px rgba(255, 255, 255, 0.4);
          background-color: transparent;
          transition: all 100ms 100ms ease-in-out;
        }
        & i:hover {
          transition: all 100ms ease-in-out;
          color: $smokeGray !important;
        }
      }
    }
  }
}
