/*
SCSS STYLES FOR THE INDEX PAGE
all styles relative to body tag 
*/

//set some custom nav styling
nav {
  background-color: transparent !important;
  box-shadow: none !important;
}

#bg {
  background-image: url(../img/bg-small.jpg);
  background-color: $smokeGray;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right bottom;
  position: absolute;
  z-index: -999;
  height: 100vh;
  width: 100vw;
}

//navbar
@import "nav";

main {
  z-index: 0;
  #name {
    @include title_text();
    position: fixed;
    left: 45px;

    //Will be overwritten by js, along with fontsze and lineheight
    bottom: 0;
    visibility: hidden;

    @include Phone {
      left: 15px;
    }
  }

  #description {
    font-family: Nexa-Light, "Segoe UI Light", Arial, sans-serif;
    color: $textGray;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 36px;
    position: fixed;
    left: 55px;
    visibility: hidden;

    @include Phone {
      left: 25px;
    }
    @include TinyDevice() {
      left: 16px;
    }
  }
}
