//colors

$mainOrange: #ea8a4e;
$smokeGray: #e2e3e5;
$textGray: #515657;
$darkOrange: #d45839;
$someBlue: #34608f;

$dark: #313131;
$darker: #212121;
$darkest: #111111;

$shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

// Bootstrap Size Guide
$phone_min: 0;
$tablet_min: 576px;
$desktop_min: 768px;
$lg_min: 992px;
$xl_min: 1200px;

$phone_max: 576px;
$tablet_max: 768px;
