/* Coolors Exported Palette - coolors.co/ea8a4e-b66450-ededef-515657-466e99 */

/* RGB */
$color1: rgba(234, 138, 78, 1);
$color2: rgba(182, 100, 80, 1);
$color3: rgba(237, 237, 239, 1);
$color4: rgba(81, 86, 87, 1);
$color5: rgba(70, 110, 153, 1);
