@import "variables";
@import "mixins";

@include font("Code-Light", "../fonts/Code Light/Code-Light");
@include font("Pier-Sans-Bold", "../fonts/Pier Sans Bold/PierSans-Bold");
@include font("Nexa-Light", "../fonts/Nexa Light/NexaLight");

// General

//Scrollbar
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

//general styles
li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

p > a {
  font-weight: 400;
  color: $mainOrange;

  &:hover {
    text-decoration: underline !important;
  }
}

.orange {
  color: $mainOrange !important;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  position: absolute;
  user-select: none;
}

@import "nav";

//INDEX
#home {
  @import "index";
}

// ABOUT
#about {
  @import "about";
}

//PROJECTS
#projects {
  @import "projects";
}

//CONTACT
#contact {
  @import "contact";
}

@import "footer";
