//body itself
& {
  background-color: whitesmoke;
}

//general styles for about page

section:nth-child(odd) {
  background: white;
}

header > h1 {
  @include title_text();
  @include Phone {
    margin-top: 0;
  }
}

header > h2 {
  text-align: left;
  display: inline-block;
  font-family: Code-Light, "Helvetica Neue", "Segoe UI Light", Arial, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.15rem;
  margin: 1rem 0;
}

p.text {
  text-align: justify;
  color: $textGray;
  font-size: 1rem;
  @include Phone {
    padding-right: 0.3rem;
    font-size: 0.9rem;
  }
}

span.bold {
  font-weight: 500;
}

.row {
  margin-top: 1vh;
  & .has-inner-cols {
    margin: 0;
    padding: 0;
  }
}

p.more-info {
  font-style: italic;
  color: gray;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

//Specific styling
main {
  margin-top: 80px;

  section#main-banner {
    #profile-pic {
      background-image: url(../img/main-img.jpg);
      width: 30vw;
      height: 0; //will be overwritten by js
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 53% 30%;
    }

    #about-me-text {
      display: block;
      margin-left: 30vw;
      width: 70vw;
      height: fit-content;
      @include xlDevice {
        min-height: 45vh;
      }
      max-height: 60vh; //For the pic
      padding: 3.5vh 2vw 1.5vh 3vw;

      @include ScrollY;
    }
  }

  section#skills-banner {
    #skills-text {
      @include ScrollY;
      display: block;
      width: 100vw;
      height: fit-content;
      padding: 3vh 2vw 2vh 4vw;

      #skillbuttons {
        display: inline-block;
        line-height: 3rem;
        margin-top: -1rem;
        margin-bottom: 1.5rem;
      }

      .skill {
        background-color: transparent;
        border-radius: 0.5rem;
        border: 1px solid $darkOrange;
        margin-right: 10px;
        color: $darkOrange;

        &:hover {
          color: white;
          background-color: $darkOrange;
        }
      }
    }
  }
}
