//body itself
& {
  background-color: whitesmoke;
}

main {
  margin-top: 80px;

  section {
    padding: 2rem;
    header {
      margin-bottom: 2rem;
      font-size: 2rem;
      font-weight: 500;
    }
    a {
      background-color: transparent;
      border-radius: 0.5rem;
      border: 1px solid $darkOrange;
      margin-top: 1rem;
      margin-right: 10px;
      color: $darkOrange;

      &:hover {
        color: white;
        background-color: $darkOrange;
      }
    }
  }
}
