body {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h3 {
    font-size: 28px;
    font-weight: 300;
}

h1 {
    font-size: 50px;
    font-variant: small-caps;
    font-weight: 100;
    width: 100%;
    color: white;
}

.container-fluid {
    margin-left: -20px;
    /*margin-right:-20px;*/
}

#treeholder {
    position: absolute;
    width: 82%;
    height: 100%;
    padding: 0;
    background: #fafafa;
    overflow: hidden;
    z-index: 2;
    display: block;
}

#tree {
    position: relative;
    z-index: 1;
    top: 25%;
    left: 25%;
}

#UI {
    position: absolute;
    margin-left: 81%;
    width: 20%;
    height: 100%;
    background-color: rgb(180, 206, 255);
    box-sizing: border-box;
    padding: 20px;
    padding-right: 50px;
    z-index: 100000;
    text-align: right;
}

label.input-custom-file input[type=file] {
    display: none;
}

li {
    margin: 5px 0;
}

.nodeText {
    text-align: left;
    width: 100%;
    float: left;
}

.collapsibleList li {
    list-style-type: none;
}

.Sex {
    float: right;
    text-align: left;
    width:300px;
}

.Sex table{
    width:100%;
    text-align: right;
}

.upload {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personbox{
    min-width:100px;
}
