body {
    font-family: 'Roboto Thin', sans-serif;
}

h1 {
    color: #111;
    font-size: 20x;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

#canvas {
    height: 600px;
    width: 100%;
    margin-bottom: 10px;
}

#scl {
    float:left;
    margin-left: 40px;
}

button {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 2px 6px;
    font-size: 10px;
    line-height: 1.8;
    box-shadow: none;
    border-radius: 0;
}

button:focus {
    outline: none
}

#reset {
    float: right;
    margin-right: 40px;
    color: #fff;
    background-color: #6496c8;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #27496d;
}

#reset:hover {
    background-color: #417cb8;
    box-shadow: 0 1px #27496d;
    transform: translateY(1px);
    cursor: pointer;
}
