html, body {margin: 0; height: 100%; overflow: hidden}

body{
    font-family: "Segoe UI Light";
}

h1 {
    font-family: "Segoe UI Light";
    font-variant: small-caps;
    text-align: center;
    font-size: 40px;
    color: #f2f2f2;
}
button:hover{
    opacity:0.7;
}


.container {
    width: 100%;
    height: 100%;
    margin-inside: 0;
    padding: 0;
    position: relative;
}

#canvasandinfodisplay {
    position: absolute;
    width: 70%;
    height : 100%;
    z-index: 1;
    padding:0;
}


#interface {
    position: absolute;
    margin-left: 70%;
    width: 30%;
    height : 100%;
    background-color: #34495e;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
}

#canvas {
    width: 100%;
    height: 85%;
    z-index: 2;
}
#infodisplay {
    width: 100%;
    height: 15%;
    z-index: 2;
    color: #9e9e9e;
    font-size: 40px;
    text-align: center;
    background-color: #080d11;
    box-sizing: border-box;
    padding: 20px;

}


#inputbox{
    text-align:left;
    padding: 50px;
    padding-top: 30px;
    background-color: #f2f2f2;
    z-index: 1000;
    position: absolute;
    width: 60%;
    height: 50%;
    margin-left:15%;
    margin-top: 10%;
    border-radius: 10px;
}

#controls {
    text-align: center;
}


table, th, td {
    font-weight:normal;
    /*border: 1px solid white;
    border-collapse: collapse;*/
    padding-left: 10px;
    font-family: "Segoe UI Light";
    font-variant: small-caps;
    font-size: 20px;
    color: #f2f2f2;
}


#scoreboard{
    width:100%;
}

#scoreboard th{
    width: 70%;
    text-align: left;
}

#colordisplayer{
    margin: 0px;
    margin-top: -30px;
}

#spotbutton1, #spotbutton2, #spotbutton3, #spotbutton4, #spotbutton5, #spotbutton6, #spotbutton7{
    padding: 0;
    margin-inside: 0;
    font-size: 10px;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background:black;
    background:rgba(0,0,0,0.8);
}